.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
build/
dist/
*.egg-info/
tests/
tests/**
docs/
.specs/
pytest.ini
.pytest_cache/
.local/
.vscode/
.cache/
*.log
.DS_Store
coverage/
htmlcov/
*.tgz
*.wheel
/media/
*.mp4
*.mkv
node_modules/
Dockerfile*
docker-compose.override.yml

# keep project metadata
!pyproject.toml
!src/**
!README.md
