annotated-types==0.7.0
black==25.9.0
-e git+ssh://git@github.com/jhaycr/censorr_private.git@cbc8d0efba2b72eaa000d9b7c68f4e1116ed407f#egg=censorr
click==8.3.0
coverage==7.10.7
iniconfig==2.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
mypy==1.18.2
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pluggy==1.6.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pysubs2==1.8.0
pytest==8.4.2
pytest-cov==7.0.0
pytokens==0.1.10
PyYAML==6.0.3
RapidFuzz==3.14.1
rich==14.1.0
ruff==0.13.2
shellingham==1.5.4
typer==0.19.2
typing-inspection==0.4.1
typing_extensions==4.15.0
